* {
    margin: 0;
    padding: 0;
}

header {
    background-color: #A1A1A1;
}

footer {
    background-color: #E6E6E6;
}

.main-div {
    min-width: 100vh;
    min-height: 48vh;
}

.block-head {
    font-family: 'Vela Sans GX';
    font-size: 36px;
}